
.formulario{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

input{
    border: 0;
    outline: none;

    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;

    
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    text-align: center;
}

input{
    height: 24px;
    border: solid 1px rgb(158, 200, 255);
    border-radius: 5px;
}

input[type=submit], 
input[type=button]{
    background-color: rgb(74, 137, 255);
    color: #FFF;
    text-transform: uppercase;
    height: 30px;
    width: auto;
    font-weight: bolder;
}
input[type=submit]:hover, 
input[type=button]:hover{
    background-color: #FFF;
    color: blue;
}
input[type=text]:valid{
    background-color: rgb(156, 253, 177);
}
input[type=text]:invalid{
    background-color: rgb(255, 172, 172);
}