<form method="POST" id="frm-buscar-cliente">
    <div class="card text-dark bg-info" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA CLIENTES

            <button type="button" id="btn-close-buscar-cliente" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-cliente" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarCliente" placeholder="nombre telefono o dui" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        <th>DUI</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="usuario in miscliente" :key="usuario.idcliente" v-on:click="modificarCliente(usuario)">
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.direccion }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.dui }}</td>
                        <td>
                            <input v-on:click="eliminarCliente(usuario.idcliente)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/cliente/buscar-cliente.js"></script>