<form v-on:submit.prevent="guardarClientes"  data-accion="nuevo" data-idalumno='' id="frm-clientes" method="post">
    <div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
        <div class="card-header">
                MANTENIMIENTO clientes
        
            <button type="button" id="btn-close-clientes" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    NOMBRE
                </div>
                <div class="col-8">
                    <input type="text" v-model="clientes.nombre" placeholder="AAA AAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    DIRECCION
                </div>
                <div class="col-8">
                    <input type="text" v-model="clientes.direccion" placeholder="AAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    TEL
                </div>
                <div class="col-8">
                    <input type="text" v-model="clientes.telefono" placeholder="0000-0000" class="form-control">
                </div>
            </div>
          
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarClientes" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                    <input type="button" class="btn btn-outline-success mostrar-buscar-clientes text-white" data-modulo="clientes" data-form="buscar-clientes" value="Buscar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ clientes.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/Public/Vistas/Clientes/Clientes.js"></script>